
/*Configuração Geral do Documento html*/
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    background: linear-gradient( 160deg,#0A0A0B, #215BF0);
    color: #ffffff;
}
    /*Header do Documento com Título Descrito por h1*/
    header{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Elevator;
        width: 100%;
    }
    /*Main do Documento com seções decritas por section e demais elementos*/
    main{
        width: 100%;
        display: flex;
    }
        main section{
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
        }
            main section h2{
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: transformers; 
                border: 0.5vh solid transparent;
            }
            main section h2:hover{
                border-color: #ffffff;
            }
            main section aside{
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                display: none;
                font-family: f-digital;
            }
            #DisplayAnalog{
                border-radius: 100%;
                border: 0.5vh solid #000000;
                background-image: url(./photoGallery/relogio.png);
                background-size: cover;
            }
            #Hours{
                position:absolute;
                background: #000000;
                transform-origin: bottom;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 0.5vh;
            }
            #Minutes{
                position: absolute;
                background: #000000;
                transform-origin: bottom;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 0.5vh;
            }
            #Seconds{
                position: absolute;
                transform-origin: bottom;
                background: #ff0000;
                border-radius: 0.1vh;
            }

/*Configuração Horizontal do Documento html*/
@media (orientation: landscape){
    /*Header do Documento com Título Descrito por h1*/
    header{
        height: 25vh;
    }
        header h1{
            font-size: 6vw;
        }
    /*Main do Documento com seções decritas por section e demais elementos*/
    main{
        height: 75vh;
        flex-flow: row wrap;
    }  
        main section{
            height: 75vh;
            width: 50%;
        }
            main section h2{
                height: 19vh;
                width: 50%;
                font-size: 4vw;
            }
            main section aside{
                height: 55vh;
                width: 55vh;
            }
                section #displayText{
                    font-size: 4vw;
                }
                #DisplayAnalog{
                    width: 35vh;
                    height: 35vh;
                }
                #Hours{
                    width: 1vh;
                    height: 9vh;
                    top: 18.5vh;
                }
                #Minutes{
                    width: 1vh;
                    height: 13vh;
                    top:14.5vh;
                }
                #Seconds{
                    width: 0.4vh;
                    height: 16vh;
                    top: 11.5vh;
                }
}

/*Configuração Vertical do Documento html*/
@media (orientation: portrait){
    /*Header do Documento com Título Descrito por h1*/
    header{
        height: 24vh;
    }
        header h1{
            font-size: 15vw;
        }
    /*Main do Documento com seções decritas por section e demais elementos*/
    main{
        height: 76vh;
        flex-flow: column wrap;
    }
        main section{
            height: 38vh;
            width: 100%;
        }
            main section h2{
                height: 7vh;
                width: 50%;
                font-size: 10vw;
            }   
            main section aside{
                height: 30vh;
                width: 40vh;
            }
                section #displayText{
                    font-size: 8vw;
                }
                #DisplayAnalog{
                    width: 25vh;
                    height: 25vh;
                }
                #Hours{
                    width: 0.8vh;
                    height: 6vh;
                    top: 9vh;
                }
                #Minutes{
                    width: 0.8vh;
                    height: 9.5vh;
                    top: 5.6vh;
                }
                #Seconds{
                    width: 0.3vh;
                    height: 11.5vh;
                    top: 3.6vh;
                }
}

/*Configuração de fonte Externa do Documento html*/
@font-face {
    font-family: Elevator;
    src: url('./fontText/elevator.otf');
}
@font-face {
    font-family: transformers;
    src: url('./fontText/transformers.ttf');
}
@font-face {
    font-family: f-digital;
    src: url('./fontText/f-digital.TTF');
}
